# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt

# Data and models
data/
#models/*.pth
#results/

# Jupyter Notebook
.ipynb_checkpoints

# PyTorch
*.pth
*.pt

# IDE
.vscode/
OLD/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
#.dockerignore

# Logs
*.log
